<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vidhvyn LMS</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>

<header class="header">
    <h1>Vidhvyn LMS</h1>
    <nav>
        <a href="/">Home</a>
        <a href="#">Courses</a>
        <a href="#">Login</a>
        <a href="#">Register</a>
    </nav>
</header>

<section class="hero">
    <h2>Learn. Build. Grow.</h2>
    <p>A simple learning management system</p>

    <div class="buttons">
        <button>Get Started</button>
        <button class="outline">View Courses</button>
    </div>
</section>
<div class="space">

</div>
<footer class="footer">
    <p>© 2025 Vidhvyn LMS</p>
</footer>

</body>
</html>
